header 
{
    grid-column: 1 / -1;
    grid-row : 1/-1;
    width:100%;
    text-align: center;
    background-color: darkgray;
}
#titre-principal
{   
    width:auto;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, 100%);
    align-items: center;
    justify-items: center;
  }


#d3 svg { /*background-color: rgba(94, 92, 92, 0.411); */
    margin: auto;
}

body
{display : flex;
flex-wrap: wrap;
background-color: rgba(207,208,210,.2);
}
#graph-container
{   
    grid-column: 2;
    grid-row: 2;
    display:flex;
    flex-direction:column ;
}

#header-container
{
    display:flex;
    width : 80%;
    height:20%;
    margin : auto;
    align-content: center;
}
#right-bar
{   
    grid-column: 1;
    grid-row: 2;
    width: 200px;  /* Or whatever */
    height: 100%; /* Or whatever */
    margin: auto;  /* Magic! */
    justify-content: center;
    align-content: center;
    text-align: center;
    text-justify: center;
}

#model-display
{
    display:flex;
}
#bars
{
    width:260px;
}
#fleche img
{
    width: 100px;
    height: 100px;
}