<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data Dashboard">
    <meta name="author" content="Aboze Brain">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>VCNet visualization</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <!-- Load d3.js v5 -->
  </head>

  <body>
    <div class = "wrapper">
      <header>
      <h1 id="titre-principal"> Individual's counterfactual visualization on churn dataset</h1>
      </header>
      <div id = "home-button"></div>
      <div id="right-bar">
        <div id = "rigth-bar-content">
          <div id="choose-indiv">
            <p>Choose the individual to visualize</p>
          </div>
          <div id = "choose-other-counterfactual"></div>
        </div>
      </div>

      <div id = graph-container>
        <div id = "header-container">
            <div id="model-display">
              <div id="circle-class"></div>
                <div id = "bars" >
                </div>
                <div id = "fleche" >
                </div>
            </div>
            <div id = "pie"></div>    
        </div>
        <!-- Div to manipulate -->
        <div id="d3"></div>
        <div id="text-description"></div>
        <div id="circle-striped"></div>
      </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
      const DataUrl = "{{ url_for('get_data') }}",
      id_indiv = "{{id_indiv}}",
      threshold = "{{threshold}}"
  </script>
  <script src="{{ url_for('static', filename='js/first_page/front_pareto.js') }}"></script>
  <script src="{{ url_for('static', filename='js/select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/indiv_class.js') }}"></script>
  <script src="{{ url_for('static', filename='js/circle_striped.js') }}"></script>
  <script src="{{ url_for('static', filename='js/percentage_bar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pie_chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main_graph.js') }}"></script>
  <script src="{{ url_for('static', filename='js/text_percentage.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/text_description.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>


  </body>
</html>